h1 {
	text-align: center;
}
#newGame {
	height: 10%;
	background-color: aqua;
}
#spacer {
	height: 10%;
}
.square {
/*	width: 75px;
*/	width: 80%;
	height: 50%;
	background-color: white;
	border-width: 0px;
}
.colPos {
	height: 20%;
}
#box1 {
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px 5px 5px 0px;
	border-color: black;
/*	background-color: red;
*/	height: 200px;
/*	width: 100%;
*/	max-width: 100%;
}
#box2 {
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: black;
	height: 200px;
	max-width: 100%;
}
#box3 {
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px 0px 5px 5px;
	border-color: black;
	height: 200px;
	max-width: 100%;	
}
#box4 {
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px 5px 5px 0px;
	border-color: black;
	height: 200px;
	max-width: 100%;	
}
#box5 {
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: black;
	height: 200px;
	max-width: 100%;	
}
#box6 {
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px 0px 5px 5px;
	border-color: black;
	height: 200px;
	max-width: 100%;	
}
#box7 {
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px 5px 0px 0px;
	border-color: black;
	height: 200px;
	max-width: 100%;	
}
#box8 {
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: black;
	height: 200px;
	max-width: 100%;	
}
#box9 {
	padding: 0px;
	margin: 0px;
	border-style: solid;
	border-width: 0px 0px 0px 5px;
	border-color: black;
	height: 200px;
	max-width: 100%;	
}